@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
   font-family: "DM Sans", sans-serif;
}
h1,h2,h3,h4,h5,h6{
   font-family: "Inter", sans-serif;
}
:root{
   --primary-color: #1e1e1e;
   --white: #fff;
}
.insight-card-item {
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-radius: 10px;
   border: 1px solid #E5E7EB;
   background-color: var(--white);
   padding: 7px 15px;
}

.insight-icon{
   line-height: 0;
}
.insight-icon img {
   width: 25px;
}
.insight-title-wrapper {
   display: flex;
   align-items: center;
   gap: 5px;
}
.insight-title{
   font-size: 14px;
   font-weight: 400;
   color: var(--primary-color);
}
.insight-count{
   background-color: #F0FDF4;
   padding: 5px 10px;
   color: #15803D;
   border-radius: 10px;
}