.notification-wrapper {
  display: flex;
  align-items: end;
  margin-top: 15px;
}
.notification-wrapper .title {
  text-transform: capitalize !important;
  font-size: 18px !important;
  font-weight: 700 !important;
  padding: 0px !important;
}

.notification-wrapper .text {
  margin-top: 5px !important;
  margin-bottom: 0px !important;
}

.switch-wrapper .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch-wrapper .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-wrapper .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-wrapper .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.switch-wrapper input:checked + .slider {
  background-color: #15803d;
}

.switch-wrapper input:focus + .slider {
  box-shadow: 0 0 1px #15803d;
}

.switch-wrapper input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.switch-wrapper .slider.round {
  border-radius: 34px;
}

.switch-wrapper .slider.round:before {
  border-radius: 50%;
}
